.logos-container {
  margin: 20px 0 40px 0;
  text-align: center;
  svg {
    display: inline-block;
  }
}

.devextreme-logo {
  width: 200px;
  height: 34px;
  margin-bottom: 19px;
}

.react-logo {
  width: 184px;
  height: 68px;
}

.plus {
  margin: 23px 10px;
  width: 22px;
  height: 22px;
}

.screen-x-small .logos-container {
  svg {
    width: 100%;
    display: block;
    &.plus {
      margin: 0;
    }
  }
}

.image-vehicle {
  border: solid;
  width: 350px;
}

.text-vehicule {
  margin-top: -10px;
}

.options {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

.option {
  margin-top: 10px;
}

.list-container {
  min-height: 440px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

.vehicle > img {
  height: 100%;
  width: 140px;
  float: left;
}

.vehicle > div {
  padding-left: 10px;
  vertical-align: top;
  line-height: 65px;
  font-size: 15px;
  float: left;
}

.text-vehicle {
  text-align: left;
  font-size: 18px;
}

.link-foto {
  text-align: center;
}